@model VehicleService.Model.VehicleModel

<br />

<h2>@ViewBag.PageTitle</h2>
<hr />

<label style="color:green">@ViewBag.InsertMessage</label>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.VehicleID)

        <div class="form-group">
            @Html.LabelFor(model => model.VehicleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.VehicleName, new { htmlAttributes = new { @class = "form-control", id = "VehicleName", name = "VehicleName", autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.VehicleName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value='@ViewBag.Button' class="btn btn-primary" />
                @Html.ActionLink("Cancle", "VehicleList", "", new { @Class = "btn btn-danger" })
            </div>
        </div>
    </div>
}
